.item {
    width: 300px;
    height: 150px;
    margin: 80px auto;
    background: #3496c7;
    text-align: center;
    color: #FFF;
    font-size: 1.5em;
    border-radius: 30px;
  }


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}


img {
    padding-top: 30px;
    margin: auto;
    padding-bottom: 30px;}
  
#carouselExampleControls {
    margin-top: 100px;
}

.card {
    
}